<div class="row">
  <div class="col-md-12">
    <div class="header text-center">
      <h1>Options</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <%= link_to 'New Option', new_option_path, class: 'btn btn-sm btn-primary' %>
  </div>
</div>
<br/><br/>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tbody>
        <% @options.each do |option| %>
          <tr>
            <td><%= option.name %></td>
            <td class="text-right"><%= link_to 'Delete', option_path(option), method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
