<h1>Options</h1>
<%= link_to 'New Option', new_option_path %>

<ul class="options">
  <% @options.each do |option| %>
    <li><%= option.name %> <%= link_to 'Delete', option_path(option), method: "delete", data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>
