<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-6 offset-md-3">
    <div class="card question-card">
      <div class="card-body">
        <h4 class="card-title">New Option</h4>
        <%= simple_form_for @option do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, "Save", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

