<h1>Home</h1>

<%= link_to 'Start New Survey!', '/vote-no-destino', class: 'button' %>

<% if @overall_results.any? %>
  <h1>Overall Results</h1>

  <div id="overall_results">
    <%= render partial: 'shared/results_table', locals: { results: @overall_results } %>
  </div>
<% end %>
