<div class="row">
  <div class="col-md-12">
    <div class="header text-center">
      <h1>What is you next destination?</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Where are you going next?</h4>
        <p class="card-text">
          Sorry, we are curious! We want to know where are you planning to travel next.
          Can you take a minute of you time to answer our survey?
        </p>
        <div class="text-center">
          <%= link_to 'Answer Our Survey', '/vote-no-destino', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="overall_results" class="card">
      <div class="card-body">
        <h4>Our Ranking</h4>
        <p class="card-text">So far these are the results of our survey.</p>
      </div>
      <%= render partial: 'shared/results_table', locals: { results: @overall_results } %>
    </div>
  </div>
</div>

