<% if @user_results.any? %>
  <h1>Your results</h1>

  <div id="user_results">
    <%= render partial: 'results_table', locals: { results: @user_results } %>
  </div>
<% end %>

<% if @overall_results.any? %>
  <h1>Overall Results</h1>

  <div id="overall_results">
    <%= render partial: 'results_table', locals: { results: @overall_results } %>
  </div>
<% end %>
